:host{
    display:flex;
    flex-direction: column;
    width: 300px;
}

*{
    font-family: monospace;
}

input{
    width: 300px;
}

input:focus {
    font-weight: bold;
    outline: none;
}

button{
    width: 150px;
    margin: auto;
}

div{
    margin:auto;
}

.mousedown{
    border: 2px solid green;
}